<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <labe>Title: </labe>
        <input class="form-control" type="text" name="text" autocomplete="off" />
        <label>Post: </label>
        <textarea class="form-control" name="textArea" rows="5" cols="30" autocomplete="off"></textarea>  
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>
<%- include("partials/footer") -%>