<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="text" class="form-label">Title: </label>
        <input class="form-control" type="text" name="text" autocomplete="off" />
        <label for="textArea">Post: </label>
        <textarea class="form-control" name="textArea" rows="5" cols="30" autocomplete="off"></textarea>  
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>
<%- include("partials/footer") -%>